@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-roboto: "Roboto", sans-serif;
  }
}

@layer utilities {
  .animate-marquee {
    animation: marquee 40s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.3; }
}

.blink {
  animation: blink 1.2s infinite;
}

.modal-high-z {
  z-index: 1050; 
}
